---
import { Image, getImage } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"pages">["data"]["hero"];

console.log(Astro.props);
const { title, background_image, style } = Astro.props!;
---

<div class="h-full mb-4">
  <div
    class:list={[
      style,
      "hero-background",
      "flex opacity-90 flex-col items-center text-white justify-around px-5 h-[350px] w-full",
    ]}
  >
    <h1 class="text-inherit text-3xl lg:text-5xl text-left">{title}</h1>
  </div>
</div>
<style
  define:vars={{
    backgroundUrl: background_image
      ? `url(${background_image.src})`
      : "#212529",
  }}
>
  .hero-background {
    background-image: var(--backgroundUrl);
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }
  .hero-background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0 0 0 / 93%);
    color: #fff;
    z-index: -1;
    height: 350px;
  }
</style>
