---
import { Astronav } from "astro-navbar";
import CdiLogo from "../../assets/images/content/cdi.svg";
import { Image } from "astro:assets";
---

<header class="flex flex-col lg:flex-row justify-left items-left bg-background">
  <Astronav>
    <div class="flex container px-2 align-center mx-auto">
      <a href="/" class="text-lg"
        ><Image src={CdiLogo} alt="Linaro Logo" height={70} /></a
      >
    </div>
  </Astronav>
</header>
